{{define "title"}}About{{end}}

{{define "main"}}
    <h1>About Go-Snip</h1>
    <p>
        Go-Snip is a platform designed for sharing snippets of code, stories, posts, and more. It's a community where users can share their knowledge and learn from each other.
    </p>
    <p>
        With Go-Snip, you can easily save and organize your snippets for personal use or share them with the community. Our platform supports various programming languages, making it a versatile tool for developers.
    </p>
    <p>
        Go-Snip also offers login capabilities, allowing users to create their own personal space for storing and managing snippets. You can keep your snippets private or share them with the Go-Snip community.
    </p>
    <p>
        Whether you're a seasoned developer looking for a place to share your expertise, or a beginner seeking to learn from others' experiences, Go-Snip is the place for you. Join us and be a part of our growing community!
    </p>
{{end}}